{% extends "base.html" %}

{% block title %}Pacientes{% endblock title %}

{% block content_name %}Pacientes{% endblock content_name %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="my-4">
                <a href="{% url "patients:add" %}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Novo Paciente</span>
                </a>
            </div>
            
            <table>
                <thead>
                    <tr>
                        <th>NOME</th>
                        <th>CPF</th>
                        <th>PLANO DE SAÚDE</th>
                        <th>CRIADO EM</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %} 
                        <tr>
                            <td>{{ patient.name }}</td>
                            <td>{{ patient.cpf }}</td>
                            <td>{{ patient.health_plan }}</td>
                            <td>{{ patient.created_at }}</td>
                            <td><a href="{% url "patients:info" patient.pk %}" class="btn btn-info btn-circle"><i class="fas fa-info-circle"></i></a></td>
                            <td><a href="#" class="btn btn-danger btn-circle" data-toggle="modal" data-target="#deleteModal" data-id="{{ patient.pk }}"><i class="fas fa-trash"></i></a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Você tem certeza que deseja excluir o paciente?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger" id="confirmDelete">Excluir</button>
                </div>
              </div>
            </div>
          </div>

    </div>
</div>

{% endblock content %}


{% block extra_scripts %}

<script>

    function findpath(){
        const fullUrl = window.location.href;
        const url = new URL(fullUrl);
        const path = url.pathname;
        return path;
    };

    document.addEventListener('DOMContentLoaded', function() {
        $('#deleteModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var patientId = button.data('id');
            var modal = $(this);
        
            modal.find('#confirmDelete').off('click').on('click', function() {
                $.ajax({
                    url: `/admin/patients/delete/${patientId}`,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        window.location.reload();
                    }
                });
          });
        });
    });
</script>

{% endblock extra_scripts %}