{% extends "base.html" %}

{% block title %}Calendário{% endblock title %}

{% block extra_statics %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>

{% endblock extra_statics %}


{% block content_name %}Calendário{% endblock content_name %}

{% block content %}

<div class="col-md-9">
    <div id="calendar"></div>
</div>

{% endblock content %}


{% block extra_scripts %}



{% endblock extra_scripts %}